#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_PipCoind += debian/examples/*
DEB_INSTALL_MANPAGES_PipCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix PipCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f PipCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake PipCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/PipCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/PipCoind
binary-post-install/PipCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/PipCoin-qt
